<footer id="footer">
    <div class="footer-deco">
       <h3>REPORT PET</h3>
       <p>You can post a lost or found report for any special of pet in our database.</p>
       <p>Made with <i class="fa-solid fa-heart"></i> by Noon</p>
    </div>
  
 
  
    <div class="footer-deco">
     <h3>FOLLOW US</h3>
     <div class="social-icons">
     <a href="https://www.facebook.com/nunnyzill" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-xl fa-facebook"></i></a>
     <a href="https://www.instagram.com/zvnoonny/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-xl fa-instagram"></i></a>
     <a href="https://twitter.com/FitzgeraldNoon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-xl fa-twitter"></i></a>
     </div>
   </div>
  
    
 </footer>
 
 
 </body>
 </html>