<nav class="nav-bar">
    <div class="logo-navbar">
    <a href='/'><img src="/images/logo.jpg" alt="logo-report-pet" class="logo"></a> 
    </div>
     <ul class="link-bar">
     
        <li><a href="/">Home</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Log IN</a></li>
     </ul>
     <i class ="fa fa-bars fa-2xl" ></i>
  </nav>