
* {
 box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    margin:0 ;
    padding:0;
    overflow-x:hidden;
    font-family: var(--font-family) !important;
}

:root {
    --white: #FFFFFF;
    --blue: #50808E;
    --blue-green : #69A297;
    --light-green : #A3C9A8;
    --teal: #006B6B;
--light-teal: #009E9E;
    --bone:  #DDD8C4;
    --light-orange: #FEBE8C;
    --light-purple:#cfcfd7;
    --purple:#9691a5;
    --font-size: 1.4rem;
    --font-family:'Open Sans', sans-serif;
}

/* navigation bar */

.nav-bar {
    background-color: var(--blue-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar img {
    width:140px;
}

.drop-down-navbar{
  background-color: var(--blue);
}
.nav-bar li {
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
     margin: 20px 30px; 
    text-transform: uppercase;
    cursor: pointer;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a:visited {
    text-decoration: none;
    color: var(--white);
}

.nav-bar a:hover {
    color: var(--light-orange);
    font-weight: bold;
}

.nav-bar a:active {
   text-decoration: none;
    font-weight: bold;
    color : var(--bone);
}

.nav-bar i{
  position: absolute;
  width:25px;
   top:20px;
   right:20px;
   cursor:pointer;
   display: none;

}

.change-yellow {
  color:  #FEB139;
  font-weight: bold;
}

.change-red {
  color:red;
  font-weight: bold;
}

/* index.html */


.link-bar {
  margin-top:16px;
}
.header img {
width:100vw;
position: relative;
}


.text-header {
  text-align: center;
  margin:40px;
}


.text-header h1{
  margin:60px 10px 20px 10px;
  font-size: 2em;
   font-weight: bold;
   color: var(--blue);

}

.text-header h2 {
  margin: 0 50px 0 50px;
  font-size: 1.4em;
  text-align: center;
  font-style:italic;
}


 #first-impress-pics {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.slide img{
  width:800px;
  height: 500px;
}

.slide-pics {
  max-width:800px;
  height:500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:7px 5px 5px var(--blue);
}


.slides {
  width:500%;
  height: 500px;
  display: flex;
}


.slides input {
  display: none;
}

.slide {
  width:20%;
  transition: 2s;
}


.lost-and-found {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

 .lost-and-found a {
  text-decoration: none;
} 


.lost-found{
 font-weight: bold;
 font-size: 1.5em;
 border-radius: 10px;
margin:10px 20px;
padding: 30px;
background: rgb(62,148,132);
background: linear-gradient(21deg, rgba(62,148,132,1) 1%, rgba(102,159,110,1) 84%);
color: var(--white);
  
}

.lost-found:hover{
  color: var(--light-orange);
  font-weight: bold;
}
.advice-section{
  text-align: center;
}

.advice-section h1{
  margin:60px 10px 20px 10px;
 font-size: 2em;
  font-weight: bold;
  color: var(--blue);
}


.fa-solid{
  margin-bottom : 25px;
}

.box{
  text-align: center;
  padding: 30px;
}

.box h3{
  font-size: 1.5em;
}

.fa-solid , .advice-deco{
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

.fa-solid:hover , .advice-deco:hover{
  color:var(--light-orange);
}
.box p {
  margin: 0 auto;
  width: 70%;
}

    /* manual */
.navigation-manual {
position: absolute;
width: 800px;
margin-top: -40px;
display:flex;
justify-content: center;

}

 .manual-btn {
 border:  2px solid var(--blue) ;
 padding: 5px;
 border-radius: 10px;
 cursor: pointer;
 transition: 1s;
  }  

  .manual-btn:not(:last-child) {
    margin-right: 25px
  }

  .manual-btn:hover {
    background-color: var(--blue-green);
  }

  #radio1:checked ~ .begin {
    margin-left: 0;
  }

  #radio2:checked ~ .begin {
    margin-left: -20%;
  }

  #radio3:checked ~ .begin {
    margin-left: -40%;
  }

  #radio4:checked ~ .begin {
    margin-left: -60%;
  }

  #radio5:checked ~ .begin {
    margin-left: -80%;
  }

     /* auto nav */
  .auto-slide {
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }

  .auto-slide div {
    border: 2px solid var(--blue);
    padding:5px;
    border-radius: 10px;
    transition: 1s;
  }

  .auto-slide div:not(:last-child) {
    margin-right: 25px;
  }

  #radio1:checked ~ .auto-slide .btn1-auto {
    background-color: var(--blue-green);
  }

  #radio2:checked ~ .auto-slide .btn2-auto {
    background-color: var(--blue-green);
  }

  #radio3:checked ~ .auto-slide .btn3-auto {
    background-color: var(--blue-green);
  }

  #radio4:checked ~ .auto-slide .btn4-auto {
    background-color: var(--blue-green);
  }

  #radio5:checked ~ .auto-slide .btn5-auto {
    background-color: var(--blue-green);
  }
 /* admin */

 .background-page {
    background-color: white;
  padding:50px 60px;
 }
 .admin-content {
  width:70%;
  font-family: var(--font-family-other);
  margin: 0 auto;
  background-color: var(--white);
  /* border: solid var(--blue) 4px; */
  padding:30px;
  
  
}

.admin-content h1 {
  font-family: var(--font-family);
  text-align: center;
  color: var(--blue);
  margin:0;
}

.admin-content .create-link {
  text-decoration: none;
 

}

.admin-content input[name= "submitBtn"] {
  padding: 4px 13px;
}

.centered-button {
  display: block;
   margin: 20px auto 0 auto;
   background-color: var(--yellow);
   color: var(--blue);
   
}

.admin-comic {
  border-collapse: collapse;
  margin: 40px auto 5px;
}
.admin-comic th , .admin-comic td {
  border: solid var(--teal) 2px;
  padding: 6px

}

.admin-comic th {
  background-color: var(--blue-green);
  text-align: center;
  padding:5px 30px;

}


.admin-comic tr {
  padding: 5px 50px;
}


.admin-comic tr:nth-child(even) {
  background-color: var(--bone);
}

.admin-comic button[name="edit"] {
  background-color: var(--blue-green);
  padding: 2px 18px;
}

.admin-comic button[name="delete"] {
  background-color: var(--blue-green);
  padding: 2px 18px;
  color:white;
}

.admin-comic .edit-link {
  color: var(--white);
  text-decoration: none;
}



/* donate.html */

  .bio{
    text-align: center;
    margin-top:40px;
  }
  
  .bio h1 {
   color : var(--blue-green);
  }
  
  .bio p {
    width:70%;
    margin: 0 auto;
    font-size: var(--font-size); 

  }

  .donate-amount {
    margin-bottom: 30px;
  }
  
  
  .donate-amount h2 {
    margin: 40px auto;
    text-align: center;
  }
  
  .animalNeed{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:  0 auto;
  }
  .animalNeed img{
    width:240px;
    height:210px;
    overflow: hidden;
    border-radius:50%;
    align-items: center;

  }

  .donate-content {
    text-align: center;
    /* margin: 0 auto; */
    width:300px;
  }

  .donate-amount h2 {
    color:var(--blue-green);
  }
  
  .animalNeed p{
    text-align: center;
    margin: 20px 30px;
    font-size: 1.1rem;
    
  
  }
  

  
        /* personal info*/
  #form-donation{
     padding: 20px 0 40px 0;
    background-color: var(--bone);


  }

#form-donation h2 {
    color: var(--blue);
   
}

.donor-section { 
  width: 80%;
 min-width: 400px;
 max-width: 800px;
 margin: 0 auto;
 
  
}

.donor-section .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 5px 30px;
  margin-bottom: 10px;
  
}


.donor-section input[type="text"], .donor-section input[type="email"], .donor-section input[type="number"] {
  width:100%;
  padding: 4px 8px;
  margin:5px auto;
  border-radius: 4px;
  border: 1.5px solid var(--blue);
  
}



.donor-section input:focus {
  outline: none;
  border-color: var(--bone);
}



.donor-section .column {
  width:100%;
  margin: 0 auto;
}


.donor-section label {
  display: flex;

}

.donation-info {
   display: flex; 
  flex-direction: column;
  /* max-width: 70%;
  margin: 0 auto; */
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
}

.donation-info div {
  margin : 5px 0;
}

.putAmount {
  width: 70px;
  margin-left:20px;
}

select[name="monthly-donation"] {
  width: 300px;
  padding:2px 0;
}

.donation-info h4 {
  margin-top: 0;
}

.payment {
  display: flex; 
  flex-direction: column;
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
 
}

.payment div {
  margin: 5px 0;
}

select[name="month"], select[name="year"] {
 width: 90px;
 padding: 2px 0;
}

.donate-button button{
  border: none;
  background: rgb(62,148,132);
  background: linear-gradient(21deg, rgba(62,148,132,1) 1%, rgba(102,159,110,1) 84%);
  color: var(--white);
  padding:8px 15px;
  border-radius: 4px;
  margin-top: 25px;
}

.donate-button button:hover {
  color: var(--light-orange);
  font-weight: bold;
}



.cvv input{
  width: 60px;
}
 
   
 
      /*donation information */
  
  /* report.html */

.report-pet {
  margin-bottom: 50px;
}
  .report-pet h1{
    text-align: center;
    margin: 30px 0px;
    color: var(--blue);
    font-weight: bold;
  }

/* contact.html */

.linear-background {
  height:70vh;
  width: 100vw;
  background: rgb(105,162,151);
background: linear-gradient(180deg, rgba(105,162,151,1) 0%, rgba(163,201,168,1) 55%, rgba(221,216,196,1) 100%);
}

.contact-box {
  background: var(--white);
  width: 73%;
  min-width: 400px;
  max-width: 800px;
  padding: 25px 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top:50%; 
  border-radius: 10px;
  
}

.contact-box h2 {
  text-align: center;
  margin:5px;
   font-weight: bold;
   color: var(--blue);
  
}

.contact-box #error{
  margin: 5px 0px;
  padding:0px;
  background-color:lightcoral;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s ease;
}

.contact-box p {
  position: relative;
  width: 100%;
  text-align: center;
  margin:auto;

}

.contact-box form {
  position: relative;
  width:100%;
  margin: 15px auto 0 auto;
}




 .contact-box .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 7px 25px;
  margin-bottom: 15px;
}

.contact-box textarea,.contact-box input[type="text"], .contact-box input[type="email"] {
  width:100%;
  padding: 5px 8px;
  margin:5px auto;
  border-radius: 4px;
  border : 2px solid var(--blue);
}

.contact-box textarea:focus, .contact-box input:focus{
  outline: none;
  border-color: var(--bone);
}

.contact-box button {
  border: none;
  background: rgb(62,148,132);
background: linear-gradient(21deg, rgba(62,148,132,1) 1%, rgba(102,159,110,1) 84%);
color: var(--white);
padding:8px 15px; 
border-radius: 4px;

}

.contact-box button:hover{
  color: var(--light-orange);
  font-weight: bold;
}

.submit-button {
  text-align: center;
}



/* cat-action,html , dog-action, found-pet, other-lost-pet */

.suggest-cat h1{
  text-align: center;
  margin: 40px auto;
}
.suggest-cat li{
  font-weight: bold;
  margin-bottom: 15px;
}

.suggest-dog , .suggest-cat{
  margin-bottom: 50px;
}
.suggest-dog h1{
  text-align: center;
  margin: 40px auto;
}

.suggest-dog h3 {
  margin: 30px auto;
}

/* search */

.pet-details {
  padding-top:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.pet-details .search-type {
  width: 200px;
  text-align: center;
  font-size: 1.2em;
  margin: 10px
}


.pet-details img {
  width: 210px;
  height: 300px;
}


.lost-pet {
  width:80%;
  font-family: var(--font-family-other);
  margin: 25px auto 60px;
  background-color: var(--white);

  padding: 40px;
  
}

 .lost-pet h1 {
  text-align: center;
  color: var(--blue);
  font-family: var(--font-family);
}

.pet-individual {
  text-align: center;
}

.pet-individual .detail-link {
  text-decoration: none;
  color: var(--blue);
}

.pet-individual img{
   border-radius:20px;
   border: 1px solid var(--teal);
}


.pet-individual .found-lost {
  text-align: center;
  font-size: 1.2em;
}
.pet-individual .detail-link:visited {
  color: var(--blue);
}

.pet-individual .detail-link:hover {
  color: var(--teal);
  font-weight: bold;
}

.pet-individual .detail-link:active {
  color: var(--blue);
  font-weight: bold;
  background-color: var(--yellow);
}

/* pet-detail */

.top-section {
   border-bottom-left-radius:26px;   
  border-top-left-radius: 26px;
  padding: 0 60px;  
}


.top-section h3 {
  font-family: var(--font-family);
  margin:0;
  padding:30px 0;
  text-align: center;
  color: var(--yellow) ;
 font-size: 1.1em;   
}

.img-pet {
  text-align: center;
}

.img-pet img {
border-radius: 20px;
width:250px;
height:400px;  
border: solid var(--bone) 3px;
box-shadow: black;
margin-top:30px;   

}



.bottom-section {
  padding: 10px 30px;  
  background-color: var(--white);
  border-bottom-right-radius: 26px;
  border-top-right-radius: 26px;  
  font-family: var(--font-family-other);
  font-size: 1.2em;  
 
}

.bottom-section span {
  color: var(--blue);
  font-weight: bold;

}

.center-btn{
  margin-bottom: 40px;

}

.go-back-btn{
  text-decoration: none;
  color: white;
}

/* login */

.well{
  background-color:whitesmoke;
  border-radius: 10px;
  border:var(--blue) solid 1px;
}

.well.login-box {
  /*width:400px; */
  border:#d1d1d1 solid 1px;
  margin:90px auto;
  padding: 50px 30px 50px 30px;
  
}
.well.login-box h3 {
text-align:center;
font-weight:bold;
color: var(--blue);
margin: 20px 0px;
}
.well.login-box label {
font-size: 1.1em;
margin:8px 0px;


}
.well.login-box input[type="text"] {
box-shadow:none;
border-color:#ddd;
border-radius:0;
}

.well.welcome-text{
  font-size:21px;
}

.form-group .btn {
  background-color: var(--blue-green);
  margin-bottom: 20px;

}

.pattern-button {
  border: none;
  background: rgb(62,148,132);
  background: linear-gradient(21deg, rgba(62,148,132,1) 1%, rgba(102,159,110,1) 84%);
  color: var(--white);
  padding:8px 15px;
  border-radius: 4px;
 text-decoration: none;
 margin-top:20px;
}

.pattern-button:hover {
  color: var(--light-orange);
  font-weight: bold;
}

.regis-google {
  background-color: var(--yellow);
display: block;
margin: 20px auto 0;
padding:5px 13px;
font-size: 1.2em;
font-weight: bold;
font-family: var(--font-family-other);
}


.regis-google a:visited{
  color: var(--blue);
}

.regis-google a:active{
  color: var(--blue);
}









/* footer */
#footer{
  background: rgb(163,201,168);
  background: linear-gradient(3deg, rgba(163,201,168,1) 0%, rgba(221,216,196,1) 63%);
  padding-top:9px;
  text-align: center;
  padding: 40px 0px;

}

.footer-deco h3 {
  color: #628393;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-deco p {
  margin: 0 20px;
}
.fa-heart {
  color:red;
}

.fa-brands {
  margin: 20px 8px;
}




/* for mobile view */

@media screen and (max-width:800px) {


 .nav-bar i {
     display: block;
     color: #FFFFFF;
     margin-top:30px;
     margin-right: 10px;  
 }

 .container{ 
  position: relative;
  padding:15px 30px;
 }

 .container h1 {
  font-size: 1.2em;
 }

 .text-header h1{
  font-size: 1.6em;
 }

 .lost-and-found {
  display: flex;
  flex-direction: column;
 }
 .slide-pics , .slides {
  position: relative;
  height:500px;
}


.slide img{
  max-width:600px;

}
.slide-pics {
  max-width: 600px;
  height:400px;
}

 .navigation-manual {
  position:absolute;
  display: flex;
  max-width: 100%;
  margin-top:-50px;
 

}

.auto-slide{
 position:absolute; 
  display:flex;
  width: 600px;
  margin-top: 370px; 
} 

.slides {
  width:500%;
  height: 420px;
}

#first-impress-pics {
  margin-top:50px;
  height: 100%;
  display: none;
  
}

 .linear-background {
  height:80vh;
  padding-top: 70px;
  padding-bottom: 50px;
  
}



.fa{
  display: block;
  justify-content: space-between;
  color: var(--blue);
}

.nav-bar i {
  color:var(--blue);
}



.link-bar li {
  margin: 25px auto;
}

.link-bar{
  display: flex;
 flex-direction: column;
 width: 100%;
 height:100vh;
 justify-content: center;
 background-color:var(--blue-green) ;
 opacity: 0.99;
 margin-top:-900px;  /* make the nav-bar go at the top*/
 transition-duration: 1s;
 transition-timing-function: ease-in-out;
 padding:0;
 
}



.logo-none{
  display:none;
}

.mobile-button{
  margin-top:0;
}

.bio {
  margin-top:40px
}
 
 .donor-section input[type="text"], .donor-section input[type="email"]{
  width:80%;
}


}

@media screen and (max-width:600px) {

  .slide img{
    max-width:400px;
  
  }
  .slide-pics {
    max-width: 400px;
    height:400px;
  }

  .navigation-manual {
    max-width: 100%;
    margin-top:-100px;
   
  
  }
  
  .auto-slide{
    width: 400px;
    margin-top: 320px; 
  } 
}