<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


<main class="linear-background">
   <div class="contact-box">
     <h2>CONTACT US</h2>
     <p>Have any questions? Drop us a message</p>
     <div id="error"></div>

     <form action="/contact" method="POST" onsubmit="return validate()" > 

      <div class="row">
        <div class="column">
         <label for="name">Name</label>
         <input type="text" name="name" id="name" placeholder="Your name here" required>
      
        </div>

        <div class="column">
         <label for="email">E-mail</label>
         <input type="text" name="email" id="email" placeholder="Your e-mail here">
         
        </div>

      </div>

      <div class="row">

        <div class="column">
         <label for="subject">Subject</label>
         <input type="text" name="subject" id="subject" placeholder="Your subject here">
        
        </div>

        <div class="column">
         <label for="phone">Contact Number</label>
         <input type="text" name="phone" id="phone" placeholder="Your phone number here">
         
        </div>

      </div> 

      <div class="row">
        <div class="column">
         <label for="message">Message Us</label>
         <textarea id="message" name="message" rows= "4" placeholder="Describe your issue in detail here" required></textarea>
        
         </div>
      </div>
        
        <div class="submit-button">
        <button type="submit">Submit</button>
        </div>

      </form>

   </div>
</main>


<%- include('../partials/footer') -%>