<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


<main class="container-md suggest-dog">
<h1>Finding a lost dog - First Day: First Few Hours</h1>

<div>
  <h3>Friendly Dog</h3>
  <ul>
   <li>Search yard, house, call by name</li>
   <li>Call out expressions dog responds to, like "Treat!" or "Go for a ride!"</li>
   <li>Leave dog's bedding, or clothing with your scent by location dog left from</li>
   <li>Leave food and water and crate</li>
   <li>If practical, leave doors open to house, especially doors dog is used to going in and out of.</li>
   <li>Recruit neighbors and friends to search by car, foot or bike</li>
   <li>Tell people not to chase</li>
   <li>Carry leash, treats and photo of dog to show people</li>
  </ul>

</div>

<div>
    <h3>Shy Dog</h3>
    <ul>
        <li>Tell people not to chase, Write "Do Not Chase" on your signs and handouts.</li>
        <li>Do not yell dog's name</li>
        <li>Use calming signals - if dog is spotted, sit quietly</li>
        <li>Avoid eye contact (perceived as threatening by distressed animals)</li>
        <li>Stay low, stoop as you approach</li>
        <li>Lure dog with food, just drop and walk away or toss to the dog's side, not directly at it.</li>
        <li>When searching carry with you treats and slip leads that can go over the dog's head quickly without needing to fasten a leash to a collar.</li>
    </ul>
</div>

<div>
<h3>What to do at home (or from your smart phone), as soon as possible after neighborhood search</h3>
<li>Notify animal control, vet offices, dog shelters, humane societies</li>
<li>Contact microchip company (if pooch is micro-chipped)</li>
<li>Create an email blast with Facebook friends</li>
<li>Use various internet resources; recruit tech savvy friends to help</li>
<li>Print small handouts with your dog's photo and contact info</li>
<li>Create highly visible signs to post. Use the Pet FBI flyer template (opens new window), slip into clear page protectors and mount on a bright colored poster board.</li>
<li>Record a special outgoing message for any devices with voice mail. "If calling about our lost dog, please leave a message. If you are calling to report a sighting, please give time, location and directions and your number."</li>
</div>


<div>
    <h3>Recovering a lost dog: things to do away from home as soon as possible</h3>
    <li>Distribute the small hand bills in your neighborhood: neighbors, mailmen, garbage men, joggers, kids</li>
    <li>Post your signs to utility poles at important intersections, Secure to utility poles with shipping tape</li>
</div>


<div>
    <h3>Search actions after the first day</h3>
    <p>Organize a team of friends and family and recruit helpers through Facebook or other social media to split up duties</p>
    <li>Post more flyer in areas farther away</li>
    <li>Consider the demographics in your area, Maybe post some flyers in Spanish.</li>
    <li>Expand the internet campaign (Craigslist, Facebook, Email blast)</li>
    <li>Continue patrolling on foot and by car, armed with leash and treats and handouts. Intensify your search between 5 am and 8 am and 6 pm and 9 pm.</li>
    <li>Pay special attention to areas where a dog might feel safe: parks, cemeteries, farms, wooded areas</li>
    <li>Check pounds in your area, and continue to check at least every other day IN PERSON. Do not assume you will be contacted because you left information.</li>
    <li>Go door to door in neighborhood, leaving hang tags on doors</li>
    <li>Put a sign in your car window and ask friends to do same</li>
</div>

<div>
    <h3>After Day 1: Tracking sightings on your lost dog</h3>
    <li>If calls with sightings, post lots of flyers in that area</li>
    <li>Keep track of locations and dates (noting areas with signs and sightings on a map)</li>
    <li>Increase range of posting 1 mile a day</li>
    <li>Devise a strategy — Use Google maps. Note brush, water, forests. Divide into zones A,B,C,D- Check Satellite photos to see paths dog cold travel like railroad tracks, jogging trails, or other paths of least resistance</li>
</div>

<div>
    <h3>If your dog has been missing for a long time</h3>
    <li>Don’t give up—Dogs can survive cold, and are resourceful. Family and friends may begin telling you to quit, saying the dog might have been eaten by a coyote, or someone took it in,etc. Nothing succeeds like persistence</li>
    <li>Contact sanitation department to see if deceased pet found</li>
    <li>Continue sharing on Facebook to keep face of dog present.</li>
    <li>Contact Highway Patrol and neighborhood police forces</li>
    <li>Continue checking shelters</li>
    <li>Check and renew ads on Craigslist and lost and found pet web sites</li>
</div>

</main>
<p class="container">Source by <a href="https://petfbi.org/i-lost-a-pet/lost-dog-action-plan/">Pet FBI</a></p>

<%- include('../partials/footer') -%>