<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


<main class="container-md suggest-cat">
<h1>11 Steps To Take In Tracing The Owner</h1>
<ol>
    <li>Search the Lost Reports on the website.</li>
    <p>Post a Found Report!, There have been many speedy, happy reunions because both finders and losers used the web site right away. Do not neglect to post a Found Report! If you are reading this advice page, you may have already done this.</p>
    <li>Contact your community animal control agencies.</li>
    <p>Often this is the first place people call when they realize their animal is missing. Ask that they keep a written record that you have found a certain animal. If at all possible, go there and check their lost and found files in person and bring your own found report with photo. We have information about how to identify the important agencies on our Whom To Contact page.</p>
    <li>Check Tags</li>
    <p>If you find a dog with a license or rabies tag, to find out the name of the owner, contact your local police department. Local police departments often handle these records or they can tell you who does.</p>
    <li>Check for other means of identification, such as microchips and tattoos</li>
      <ul>
        <li>Microchips:</li>
        <p>Several organizations and businesses (for example: the American Kennel Club, HomeAgain and Avid) sponsor a nationwide companion animal recovery system that involves the use of tattoos or microchips. The microchips are implanted under the loose skin on the scruff of the neck, but the only way to detect an identification microchip is with a special scanner. Local animal control agencies and almost all shelters and veterinary offices have the necessary equipment. Be sure to have the found pet - dog or cat - scanned for a microchip.</p>
        <li>Dog Tattoos:</li>
        <p>Look for a series of numbers on the inner right hind leg, on the belly where the hair is thin, (you may have to brush the hair aside to see), or sometimes the ear. There are a number of registries that use tattoos. Some breeders and shelters also use tattoos. Here is a link with useful info about tattoos:</p>
      </ul>
    <li>Contact the various local shelters...</li>
    <p>to see if anyone has reported such an animal and to request that they keep a written record. For advice on how to identify and contact shelters, humane societies, etc,</p>
    <li>Call the offices of neighborhood veterinarians</li>
    <p>People often leave lost and found reports with them. You can use a web search engine to identify the vets in your area.</p>
    <li>Prepare a flyer</li>
    <p>particularly those familiar with the area where you found the animal: letter carriers, meter readers, school bus drivers, neighborhood children, etc. Take a photograph and show it to people in the area to see if they recognize the animal. Hand out cards or flyers with your phone number.
        At least one PET FBI user reported finding the owner of a cat that had been living under her deck for months by calling everyone in the vicinity. She got the names from her county property tax web site, looked up the numbers in the phone book and called a few every day. There are services on line that will also do this for a fee. Some do “robo-calls”. Others will send a post card. If you decide to pay for a service like this, do not be lulled into thinking that is all you need to do.</p>
    <li>Check other web-based resources such as Facebook and Craigslist</li>
    <p>Craigslist is a well known and widely used for free classified ads. Select your area, then “Community” then “Lost + Found”. The lost and found is for everything, not just pets, and the ads are organized by the date they were posted. It is also possible to see a map with pins indicating the location of lost or found pets if the poster uses that feature. As of this writing, ads expire after 45 days but users can renew a post every 48 hours. It is possible to search by key words like “ lost black cat” but it may require some patience to view all the relevant information on Craigslist. The principle advantage is that it is widely known and used.</p>
    <li>Use Facebook</li>
    <p>In many areas, Facebook pages dedicated to lost and found pets have sprung up. Use your browser's search engine to find them as well as other lost and found sites. (use keywords “lost and found pets + your area”.) The advantage of using lost and found Facebook pages is that they attract “regulars” who are self-appointed helpers and look for lost pets in their neighborhood or look for matches on other sites. The disadvantage of using Facebook is that first you must be a registered Facebook user to post or to search.To avoid the bother of setting up your own Facebook account, you can ask practically any young person to help with Facebook.</p>
    <li>Post and check community bulletin boards and Lost and Found classified ads in your local papers.</li>
    <p>Some papers run "Found" ads for free. In checking lost reports, be sure to go back as far as you think it is possible for the stray to have been lost, which could be many weeks or even months especially in the case of cats. Check the ads regularly because it may be some time before the owner decides to place one. The people in the classified ads department should be able to help you research expired ads. Do not overlook community bulletin boards in local libraries, pet supply stores, supermarkets, laundromats, cafes, groomers and kennels.etc.</p>
    <li>Continue to check the Pet FBI database as well as other sources of information.</li>
    <p>It may be weeks or months before the pet's family learns about all the resources available and posts a report.</p>
</ol>
</main>

<p class="container">Source by <a href="https://petfbi.org/i-found-a-pet/found-pet-advice/">Pet FBI</a></p>
<%- include('../partials/footer') -%>