<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>

   
<header class="header">
   
   <img src="/images/cover-img.png" alt="An animal's eyes have the power to speak a great language">
   
      <div class="text-header">
        <h1>Report Pet Is The Free Database And Information Center For Lost And Found Pets</h1>
        <h2>Report pet is a nonprofit organization. Post to our database, receive alert for potential matching report and notify at no cost.</h2>
        </div>

   </header>


   <section class="lost-and-found">
          <a href="/login"><div class="lost-found">Report a Lost or Found Pet</div></a>
          <a href="/search"><div class="lost-found">Search database of Lost and Found Pets</div></a>
          <a href="/login"><div class="lost-found">Update or Edit My Report</div></a>
   </section>


 <section id="first-impress-pics">
<!-- img slider start -->
  <div class="slide-pics">
    <div class="slides">
    <!-- ratio -->
    <input type="radio" name="radio-btn" id="radio1" checked>
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
    <input type="radio" name="radio-btn" id="radio5">

    <div class="slide begin"><img src="/images/pic1.webp" alt="three dogs inside the cage"></div>
    <div class="slide"><img src="/images/pic2.avif" alt="dog being held over person's shoulder"></div>
    <div class="slide"><img src="/images/pic3.jpg" alt="person holding three kittens to the camera in front of the shelter cage"></div>
    <div class="slide"><img src="/images/pic4.webp" alt="middle age cat with a curious face"></div>
    <div class="slide"><img src="/images/pic5.jpg" alt="two babies squirrels being feed with milk"></div>

    <!-- auto nav start -->
    <div class="auto-slide">
       <div class="btn1-auto"></div>
       <div class="btn2-auto"></div>
       <div class="btn3-auto"></div>
       <div class="btn4-auto"></div>
       <div class="btn5-auto"></div>
    </div>
    <!-- auto nav end -->

    </div>
    <!-- manual nav start -->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
      <label for="radio5" class="manual-btn"></label>

    </div>
    <!-- manual nav end -->
</div>
<!-- img slider end -->
</section>






<section class="advice-section">
   <h1>Extensive knowledge base of lost and found pet advice</h1>

    <div class="row">  
      <div class="box col-md-6 col-lg-3">
         <a href="/cat-action" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-cat fa-3x"></i></a>
         <a class="advice-deco" href="/cat-action" target="_blank" rel="noopener noreferrer"><h3>LOST CATS</h3></a>
         <p>Read our steps and suggestions for recovering your lost cat.</p>
      </div>
      <div class="box col-md-6 col-lg-3">
         <a href="/dog-action" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-dog fa-3x"></i></a>
         <a class="advice-deco" href="/dog-action" target="_blank" rel="noopener noreferrer"><h3>LOST DOGS</h3></a>
         <p>Take a deep breath and read our step with a plan of action, you have a good chance at a successful reunion.</p>
      </div>

       <div class="box col-md-6 col-lg-3">
         <a href="/found-pet" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-magnifying-glass fa-3x"></i></a>
         <a class="advice-deco" href="/found-pet" target="_blank" rel="noopener noreferrer"><h3>FOUND PETS</h3></a>
         <p>Have you found pet? Follow our suggestions to help you locate the pet's family</p>
      </div>
      <div class="box col-md-6 col-lg-3">
         <a href="/other-lost-pet" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-crow fa-3x"></i></a>
         <a class="advice-deco" href="/other-lost-pet" target="_blank" rel="noopener noreferrer"><h3>OTHER LOST PETS</h3></a>
         <p>Read our suggestions on how to recover lost birds, rabbits, reptiles, and other pets.</p>
      </div>
      
   </div>




</section>


<%- include('../partials/footer') -%>