<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>



<main class="container-md suggest-cat">
<h1>12 Steps to Take to Recover a Lost Pet</h1>
<ol>
    <li>Search every nook and cranny</li>
    <p>Search every nook and cranny of your house and grounds on the chance that your pet has become caught or trapped or is sick or injured and hiding. Do not assume they will come to you. Look in closets, drawers, air ducts, behind appliances, under beds, in the hollow under reclining chairs, behind books in a bookcase, wrapped in the bottom of drapes, in any hidden recesses, basement crawl spaces, in sheds, garages, under decks, in pipes and culverts, dumpsters, garbage cans, in trees, on rooftops, etc.</p>
    <li>Contact your local animal control agency or the police.</li>
    <p>The Sulcata tortoise was found by a motorist on the side of the road. He took it to a pet shop many miles away. Often this is the first place people call when they have found a stray pet in their neighborhood. Ask that they keep a written record of your lost pet.</p>
    <li>Comb the neighborhood on foot and by car as soon as possible and keep looking.</li>
    <p>Call your pet by name or make some familiar and attractive noise, like whistling, squeezing a squeak toy or shaking a can of treats. Remember that a frightened or injured animal will hide and may not come to you. Pause often and listen for your pet. Look under porches, behind bushes, under cars, etc. Ask neighbors for permission to look in their yards.
        If you live in a busy urban neighborhood, the best time to look and call is early morning and late evening when there is not much activity. Take along a photograph of your pet to show neighbors and people who know the area: letter carriers, meter readers, school bus drivers, joggers, neighborhood children. Hand out cards or flyers with information on how to contact you. Go out after dark with a flashlight. Shine the flashlight into all hidden recesses and look for a reflection from the eyes.</p>
    <li>Create and post flyers</li>
    <li>Try to attract your pet back to the house.</li>
    <li>Consider setting a humane trap.</li>
    <li>Visit local shelters and humane societies immediately and return regularly.</li>
    <p>Animals surrendered to shelters are held for only a very limited time. It is indispensable to visit your local shelters in person to see if your pet has been turned in. Bring a good photograph of your pet to leave with them. but do not depend on the shelter people to contact you. Often, they are just too overwhelmed to research the huge volume of lost and found reports they are asked to deal with. You really need to return to the shelters regularly to look for yourself. We emphasize that you must not assume that because you have left information about your missing pet that you will automatically be contacted if the animal is turned in. In most urban areas, there are simply too many unwanted animals and too few shelter helpers to do this. It is up to you to check back regularly.</p>
    <li>Call your neighborhood veterinarians and animal emergency clinics.</li>
    <p>People often leave lost and found reports with them or bring injured strays to them.</p>
    <li>Post and keep checking reports on the web</li>
    <li>Facebook</li>
    <li>Place a classified ad</li>
    <p>In your local newspapers and check the “found” ads. Keep checking regularly for new ads, and ask how to research ads that have run previously by calling the paper. Also check adoption ads, on the chance that the person who found your pet was unable to trace you, could not keep the pet and did not want to surrender it to a shelter</p>
    <li>Check with animal control businesses.</li>
    <p>As a last resort, you might ask whether your pet has been trapped by one of the companies that set out live traps to catch strays or wild animals who are creating a nuisance. You may have to face the possibility that your pet was killed by a car. Your local police or animal control should be able to tell you who has the grim responsibility of picking up dead animals.</p>
</ol>

</main>

<%- include('../partials/footer') -%>