<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


    
<form action="/search" method="POST" class="report-pet container">
    <h1>Create A Lost Or Found Pet Report and Flyer</h1>
    <div class="row g-3">

      <div class="col-12"> 
            <label for="what-happen" class="form-label">What Happened?</label>
            <select id ="what-happen" name="type" class="form-select" >
                <option value="blank" disabled selected>Select</option>
                <option value="Lost">Lost</option>
                <option value="Found">Found</option>             
              </select>
      </div>


      <div class="col-12">
        <label for="last-saw" class="form-label">Date on which the pet was lost or found</label>
        <input class="form-control" type="date" id="last-saw" name="date" min="2000-01-02" placeholder="mm/dd/yyyy">
        </div>

      <div class="col-12">
        <label for="breed" class="form-label">Breed/Description?</label>
        <input type="text"name="breed" class="form-control" id="breed" required>
     </div>

      <div class="col-12">
        <label for="inputAddress" class="form-label">Address, the last time you were seeing</label>
        <input type="text" class="form-control" name="address" id="inputAddress" placeholder="Street, City, State, ZipCode">
      </div>


    
      <div class="col-12">
        <label for="upload-pic" class="form-label">UpLoad a Photo of Your Pet</label>
        <input type="file" class="form-control"name='image' id="upload-pic" ><br>
        <button class="btn btn-secondary" type="button" id="upload-pic">Upload Photo</button>
      </div>  
      

     

     <div class="col-12"> 
        <label for="what-gender" class="form-label">What gender is the pet?</label>
        <select id ="gender" name="what-gender" class="form-select" >
          <option value="blank" disabled selected>Select</option>
          <option value="Male" >Male</option>
          <option value="Female">Female</option>
          <option value="uncertain">Sex Uncertain</option>
        </select>
      </div>

      <div class="col-12">
        <label for="what-age" class="form-label">Approximate age of the pet in years(number only)</label>
        <input type="text" class="form-control" name="age" id="what-age" >
     </div>

     <div class="col-12">
        <label for="what-color" class="form-label">What colors are the pet?</label>
        <input type="text" class="form-control" name="color" id="what-color">
     </div>

  

      <div class="col-12"> 
        <label for="what-weight" class="form-label">What is the approximate weight of the pet?</label>
        <select id ="what-weight" name="weight" class="form-select" >
          <option value="blank" disabled selected>Select</option>
          <option value="under 5 lbs">Under 5 lbs</option>
          <option value="5-10 lbs">5-10 Ibs</option>
          <option value="10-20 lbs">10-20 Ibs</option>
          <option value="20-30 lbs">20-30 Ibs</option>
          <option value="30-40 ibs">30-40 Ibs</option>
          <option value="over 50 lbs">Over 50 Ibs</option>
        </select>
      </div>


      <div class="col-12"> 
        <label for="length-hair" class="form-label">What length of hair does the pet have?</label>
        <select id ="length-hair" name="hair" class="form-select" >
          <option value="blank" disabled selected>Select</option>
          <option value="Short">Short</option>
          <option value="Medium">Medium</option>
          <option value="Long">Long</option>
          <option value="Not Applicable">Not Applicable</option>
        </select>
      </div>


      <div class="col-12">
        <label for="pet's-collar" class="form-label">Describe the pet's collar</label>
        <input type="text" class="form-control" name="collar" id="pet's-collar" >
     </div>

     <div class="col-12">
        <label for="details" class="form-label">Provide additional comments or details</label>
        <textarea class="form-control" name= "addition" id="details" rows="3"></textarea>
     </div>


     <div class="col-12 text-center">
        <input type="submit" class="pattern-button" id="upload-pic"  value="Submit" />
     </div>

</div>
     
</form>
<!-- api map -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZZeAULdJ0uNBx0CMSMCP0vUqw1hr8jqY&libraries=places&callback=initMap" defer></script>

 
<%- include('../partials/footer') -%>