<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>



    
    <form class="report-pet container">
      <h1>Update A Lost Or Found Pet Report and Flyer</h1>
      <div class="row g-3">
  
        <div class="col-12"> 
              <label for="what-happen" class="form-label">What Happened?</label>
              <select id ="what-happen" class="form-select" >
                  <option value="blank" disabled selected>Select</option>
                  <option value="1">Lost</option>
                  <option value="2">Found</option>             
                </select>
        </div>
  
  
        <div class="col-12">
          <label for="start" class="form-label">Date on which the pet was lost or found</label>
          <input class="form-control" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
          </div>
  
        <div class="col-12">
          <label for="what-breed" class="form-label">Breed/Description?</label>
          <input type="text" class="form-control" id="breed" >
       </div>
  
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" >
        </div>
  
  
      
        <div class="col-12">
          <label for="upload-pic" class="form-label">UpLoad a Photo of Your Pet</label>
          <input type="file" class="form-control" id="upload-pic" ><br>
          <button class="btn btn-secondary" type="button" id="upload-pic">Upload Photo</button>
        </div>
  
       
  
       <div class="col-12"> 
          <label for="what-gender" class="form-label">What gender is the pet?</label>
          <select id ="what-gender" class="form-select" >
              <option selected>Male</option>
              <option value="1">Female</option>
              <option value="2">Sex Uncertain</option>
          </select>
        </div>
  
        <div class="col-12">
          <label for="what-age" class="form-label">Approximate age of the pet in years(number only)</label>
          <input type="number" class="form-control" id="what-age" >
       </div>
  
       <div class="col-12">
          <label for="what-color" class="form-label">What colors are the pet?</label>
          <input type="text" class="form-control" id="what-color" >
       </div>
  
    
  
        <div class="col-12"> 
          <label for="what-weight" class="form-label">What is the approximate weight of the pet?</label>
          <select id ="what-weight" class="form-select" >
              <option selected>Under 5 lbs</option>
              <option value="1">5-10 Ibs</option>
              <option value="2">10-20 Ibs</option>
              <option value="3">20-30 Ibs</option>
              <option value="4">30-40 Ibs</option>
              <option value="5">Over 50 Ibs</option>
          </select>
        </div>
  
  
        <div class="col-12"> 
          <label for="length-hair" class="form-label">What length of hair does the pet have?</label>
          <select id ="length-hair" class="form-select" >
              <option selected>Short</option>
              <option value="1">Medium</option>
              <option value="2">Long</option>
              <option value="3">Not Applicable</option>
          </select>
        </div>
  
  
        <div class="col-12">
          <label for="pet's-collar" class="form-label">Describe the pet's collar</label>
          <input type="text" class="form-control" id="pet's-collar" >
       </div>
  
       <div class="col-12">
          <label for="details" class="form-label">Provide additional comments or details</label>
          <textarea class="form-control" id="details" rows="3"></textarea>
       </div>
  
  
       <div class="col-12 text-center">
          <button class="pattern-button" type="submit" id="upload-pic">Submit</button>
       </div>
  
  </div>
       
  </form>



  <%- include('../partials/footer') -%>